*::after,
*::before,
* {
  margin: 0;
  color: rgb(167, 159, 159);
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  user-select: none;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 1, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 25px;
  background-color: rgb(24, 24, 83);
  width: 70%;
  border: 0.5px solid grey;
  padding-left: 5px;
}

label {
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 4px orangered;
  user-select: none;
}

h1,
h2,
h3 {
  font-size: clamp(1rem, 1rem + 1vw, 3rem);
  color: rgb(206, 205, 211);
  text-shadow: 0 0 10px rgb(236, 74, 10);
}

.page {
  text-align: center;
  box-shadow: 0px 0px 10px 15px rgb(55, 55, 100) inset;
  background-color: rgb(3, 3, 65);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  opacity: 0.9;
  position: absolute;
  min-width: 300px;
  height: 100%;
}

.cont1,
.cont2,
.cont3 {
  background-image: url(./index.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  min-width: 300px;
  height: 100vh;
  width: clamp(300px, 45vw, 700px);
}

.cont3,
.cont2 {
  display: none;
}

.radiodiv {
  display: flex;
  gap: 50px;
}

.login,
.reset,
.submitbtn {
  width: 100px;
  background-color: rgb(7, 7, 68);
  box-shadow: 1px 1px 5px rgb(77, 74, 74);
  border-radius: 20%;
  margin: 0 auto;
}

.trans_btn {
  min-width: 150px;
  margin: 10px;
  border-color: rgb(95, 95, 156);
  background-color: rgb(2, 2, 26);
}

.cust_details {
  font-size: 25px;
  margin-bottom: 30px;
  background-color: rgb(37, 37, 172);
  width: 100%;
  box-shadow: 5px 5px 5px 20px rgb(37, 37, 172);
  user-select: none;
}

.m-b {
  margin-bottom: 30px;
}

button:active {
  background-color: rgb(121, 62, 41);
  color: white;
  border: 2px solid black;
  transform: scale(1.1);
  transition: 0.1s;
  border-radius: 30%;
}

input:hover {
  background-color: rgb(9, 2, 49);
  color: rgb(255, 255, 255);
}

.radio {
  margin-right: 20px;
}

.transpage {
  word-wrap: break-word;
  width: inherit;
  height: 85%;
  background-color: rgb(25, 25, 59);
  border-radius: 20%;
  box-shadow: 0 0 20px rgb(184, 179, 177) inset;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  opacity: 0.9;
  position: absolute;
}

.balanceDisplay {
  text-shadow: 0px 0px 10px rgb(104, 40, 2);
}
@media (max-width: 400px) {
  .page,
  .cont1,
  .cont2,
  .cont3 {
    width: 100%;
    height: 100%;
  }
}
